body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #EEEEEE;
}

core-toolbar {
  color: #FAFAFA;
  background-color: #009688;
}
paper-card{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
h2{
  margin-left: 5%;
  margin-right: 5%; 
}
p{
  margin-left: 5%;
  margin-right: 5%;
}
ul{
  margin-left: 5%;
  margin-right: 5%;
}

#hero1 {
  position: absolute;
//  top: 0;
//  left: 0;
  width: 100%;
//  height: 100%;
  background-color: orange;
}
#hero2 {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 300px;
  height: 300px;
  background-color: orange;
}
#bottom1, #bottom2 {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  height: 50px;
}
#bottom1 {
  background-color: blue;
}
#bottom2 {
  background-color: green;
}