<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>scott Miller</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->
</head>

<body unresolved fullbleed layout vertical>
  <template is="auto-binding" id="app">

    <core-drawer-panel>

      <!-- Drawer -->
      <core-header-panel drawer>

        <!-- Drawer Toolbar -->
        <core-toolbar>Menu</core-toolbar>

        <!-- Drawer Content -->
        <core-menu selected="0">
          <core-item label="Yo"></core-item>
          <core-item label="Polymer"></core-item>
          <core-item label="App"></core-item>
        </core-menu>

      </core-header-panel>

      <!-- Main -->
      <core-header-panel main>

        <!-- Main Toolbar -->
        <core-toolbar>
          <paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
          <span>{{appName}}</span>
        </core-toolbar>

        <!-- Main Content -->
        <core-animated-pages transitions="hero-transition cross-fade">
          <section id="page1">
            <div id="hero1" hero-id="hero" hero>
              <paper-tabs selected="0" class="bottom indent" style="width: 200px;" self-end>
      
                  <paper-tab id="one">ONE</paper-tab>
                  <paper-tab id="two">TWO</paper-tab>
              
              </paper-tabs>
              
              <paper-card>
                <h2>
                  Content Analyst
                </h2>
                <p>
                  <ul>
                    <li>This is a test</li>
                    <li>Another test</li>
                    <li>Test 3</li>
                    <li>Test 4</li>
                    <li>Test 5</li>
                    <li>Test 6</li>
                  </ul>
                </p>
              </paper-card>
              <paper-card>
                <h2>
                  NASA
                </h2>
                <p>
                  <ul>
                    <li>This is a test</li>
                    <li>Another test</li>
                  </ul>
                </p>
              </paper-card>
            </div>
                  <div id="bottom1" cross-fade></div>
                </section>
                <section id="page2">
                  <div id="hero2" hero-id="hero" hero></div>
            <div id="bottom2" cross-fade></div>
          </section>
        </core-animated-pages>
        
<!--        <div class="hero-unit">
          <yo-greeting></yo-greeting>
          <p>You now have</p>
          <yo-list></yo-list>
        </div>-->
      </core-header-panel>
    </core-drawer-panel>

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
